.links-container{
display: flex;
justify-content: space-around;   
width: 20%;
line-height: 1.2;


    >a{
        color: #8e8e8e;
        text-decoration: none;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: -.4px;
        font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto Oxygen-Sans,Ubuntu,Cantarell,“Fira Sans”,“Droid Sans”,Helvetica Neue,Helvetica,\\30D2\30E9\30AE\30CE\89D2\30B4 Pro W3,Hiragino Kaku Gothic Pro,\\30E1\30A4\30EA\30AA,Meiryo,"\FF2D\FF33 \FF30\30B4\30B7\30C3\30AF",Arial,sans-serif;
        margin: 0;
        padding: 13px; 
        &:active{
        color: #333;
        align-items: center;
        }
        &:hover{
        border-radius: 900px;
        background-color: rgba(0, 0, 0, 0.06);

        }
    }
}

.user-img {
    border-radius: 50%;
    max-height: 1.5rem;
    max-width: 1.5rem;
    padding-right: 0.5rem;
    vertical-align: middle;
}